.container {
  width: 310px;
	height: 448px;
	border: 1px solid rgba(255, 255, 255, 0.1)
}
.text {
	text-align: left;
	padding: 5px;
	margin-left: 10px
}
.button1 {
	width: 210px;
	height: 44px;
	margin-left: 16px;
	margin-top: 15px;
	background: #6932F9;
	color: white
}
.button2 {
	height: 44px;
	margin-left: 7px;
	margin-top: 15px;
	background: #6932F9
}