.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #160C30;
  row-gap: 24px;
}

.title {
  font-family: Chakra Petch;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: -0.011em;
  font-weight: 700;
  text-align: center;
  align-self: center;
  color: #F08743;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialMediaButtonGroup {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .inputRow {
    margin: 0 110px 0 110px;
    column-gap: 20px;
  }

  .title {
    margin-top: 41px;
  }

  .container {
    padding-bottom: 48px;
  }

  .socialMediaButtonGroup {
    flex-direction: row;
    column-gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .inputRow {
    margin: 0 5px 0 5px;
    column-gap: 20px;
  }

  .socialMediaButtonGroup {
    flex-direction: column;
    row-gap: 10px;
  }
}


.inputRowItem {
  flex-grow: 1;
}

.actionButton {
  background: linear-gradient(180deg, #EF507E 0%, #F09633 100%);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  border-radius: 0;
  padding: 16px 59px;
}

.socialMediaButton {
  flex-grow: 1;
  border-radius: 0;
  color: white;
}


