.backgroundImg {
	height: 468px;
	width: 75vw;
	background: radial-gradient(50% 50% at 50% 50%, rgba(8, 0, 29, 0.7) 0%, rgba(8, 0, 29, 0.8) 46.24%, rgba(8, 0, 29, 0.9) 100%)
}
.backgroundImgMobile {
	margin-top: -40px;
	width: 440px;
	height: 493px;
	background: radial-gradient(50% 50% at 50% 50%, rgba(8, 0, 29, 0.7) 0%, rgba(8, 0, 29, 0.8) 46.24%, rgba(8, 0, 29, 0.9) 100%);
}
.bgImgContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 400px;
	height: 222px;
	padding-top: 50px;
}
.imgContainer {
	display: flex;
		position: absolute;
		justify-content: center;
		top: 300px;
		align-items: center;
		width: 200px;
		margin-left: 100px;
}
.img1 {
	width: 108px;
	height: 68px;
}
.text1 {
	width: 161px;
	height: 24px;
	text-align: left;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.011em;
	color: #FFFFFF;
}
.text2 {
	width: 860px;
	height: 96px;
	text-align: left;
	font-weight: 700;
	font-size: 37px;
	line-height: 48px;
	letter-spacing: -0.011em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.button1 {
	width: 200px;
	height: 56px;
	background: #6932F9;
	color: white;
	border-radius: 0px;
}
.text1Mobile {
	margin-top: 42px;
    color: white;
	font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16;
    text-transform: uppercase;
}
.text2Mobile {
	margin-top: 16px;
    color: white;
    font-family: Chakra Petch;
    font-style: normal;
    font-weight:700;
    font-size: 18;
	text-transform:  uppercase;
    margin-bottom: 22px;
	flex-wrap: wrap;
}
.tab {
	width: 180px;
	margin-right: 20px;
	height: 50px !important;
	border-radius: 5px;
}
.tabBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* width: 950px; */
}
.viewAllButton {
	width: 125px;
	height: 36px;
	display: flex;
	align-items: flex-start;
	padding: 7px 22px;
	background: #6932F9;
	color: white;
	border-radius: 0px;
}
.container {
	display: flex;
	align-items: flex-start;
	margin: 80px 0px 50px 20px;
}
@media screen and (max-width: 992px) {
	.mainSideBox {
		display: none;
	}
}

.sideBox {
	width: 300px;
	height: 500px;
	background: rgba(215, 215, 215, 0.06);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-items: flex-end;
	align-items: flex-end;
	align-content: flex-end;
}
.slider {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}
.sliderBox {
	justify-content: space-around;
	display: flex;
	width: 50%;
}
.border {
	width: 25px;
	border-top: 1px solid white;
	margin-bottom: 15px;
}
.text3 {
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	width: 259px;
	height: 54px;
	margin: 20px;
}
.newsFeedContainer {
	display: flex;
	padding: 10px 0px 0px 0px;
}
.newsGrid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 100%;
}
.newsFeedImg {
	background: linear-gradient(180deg, rgba(17, 0, 63, 0) 0%, #11003F 100%);
	width: 310px;
	height: 368px;
	justify-content: flex-start;
	background-size: cover;
}
.newsFeedText {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	color: #FFFFFF;
	margin: 0px 20px 20px 20px;
	text-align: left;
}
.newsFeedButton {
	display: flex;
	align-items: flex-start;
	align-self: flex-start;
	padding: 7px 22px;
	margin: 15px 0px 0px 20px;
	background: #6932F9;
	color: white;
	border-radius: 0px;
}
.postContainer {
	display: flex;
	padding: 50px 0px 0px 0px;
}
.postGrid {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 12px 20px;
	gap: 16px;
	width: 310px;
	height: 373px;
	border: 1px solid #201736;
	margin: 0px 0px 0px 0px;
}
.mainBox1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.Box1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	align-self: self-start;
	height: 40px;
	width: 65%;
}
.postText1 {
	font-weight: 700;
	font-size: 15px;
	line-height: 15px;
	color: #FFFFFF;
}
.postText2 {
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	color: rgba(255, 255, 255, 0.32);
}
.postText3 {
	height: 51px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	text-align: left;
}
.tournamentContainer {
	display: flex;
	padding: 0px 0px 0px 0px;
}
.tournamentTopContainer {
	display: flex;
}
.tournamentButton {
	display: flex;
	align-items: flex-start;
	padding: 7px 22px;
	margin: 0px 0px 0px 30px;
	background: #6932F9;
	color: white;
	border-radius: 0px;
}
.textMainContainer {
	display: flex;
	flex-direction: row;
	margin: 150px 0px 0px 0px;
	justify-content: space-around;
	width: 310px;
}
.textContainer {
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: space-around;
	height: 50px;
}
.tContainerText1 {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: -0.011em;
	text-align: left;
	color: #B5B5B5;
}
.tContainerText2{
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: -0.011em;
	text-align: left;
	color: #FFFFFF;
}
.tournamentBottomContainer {
	display: flex;
  flex-direction: column;
	margin: 20px 0px 0px 0px;
	width: 310px;
	height: 92px;
	background: rgba(8, 0, 28, 0.1);
	backdrop-filter: blur(25px);
	padding: 20px 0px 0px 20px;
	justify-content: space-evenly;
  align-items: flex-start;
}
.tournamentText1 {
	padding: 0px 0px 5px 0px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.011em;
	color: #FFFFFF;
}
.tournamentText2 {
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.011em;
	color: #B5B5B5;
}
.arrowImg {
	margin: -20px 0px 0px 242px;
}
.alice-carousel__prev-btn {
	display: none !important;
}