.appBar {
    background-color: white !important;
    box-shadow: none;
    border-radius: 10px;
    padding: 16px;
}
.appBar button {
    color: black !important;
}
.userListContainer {
    height: 440px;
    overflow: auto;
}
.userListContainer::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
.userListContainer::-webkit-scrollbar-thumb {
    background: #08001c;
    border-radius: 10px;
}

.userList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.followBtn {
    text-transform: capitalize;
    width: 120px;
    border-radius: 8px;
}
.profileAvatar{
    border: 2px solid #6932f9 !important;
    border-radius: 9999px !important;
}