.container {
  height: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  background-color: #160C30;
}

.columnGroup {
  display: flex;
  flex-direction: column;
}

.userPic {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: row;
}

.userIcon {
  width: 64px;
  height: 64px;
}

.username {
  margin-top: 8px;
  justify-self: left;
  font-size: 1rem;
}

.balance {
  justify-self: left;
  font-size: .7rem;
  margin-top: 9px;
  color: #F08743;
}

.menuGroup {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
}

.rightMenuGroup {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.iconsGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 23px;
}
.searchBar {
  border: 1px solid #6932F9;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 25px;
  position: relative;
  z-index: 2;
  background-color: #08001c;
}
.searchBar input::placeholder{
  font-weight: 200;
  font-size: 14px;
}
.searchList{
  color: #6932F9;
  position: absolute;
  z-index: 1;
  top: 0;
  padding-top: 50px;
}
.searchList li{
  padding: 0 !important;
}
.listText span{
  text-align: left !important;
}
.listText span p{
  text-align: left !important;
}
