.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main {
  }
}

@media screen and (max-width: 767px) {
  .main {
    margin: 0;
  }
}

.whiteText {
  color: white;
  font-family: Chakra Petch;
}

.primaryText {
  font-family: Chakra Petch;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.011em;
  text-align: left;
  color: #6932F9;
  text-transform: uppercase;
}

.simpleMessageContent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 26px;
  padding-bottom: 26px;
  width: 100%;
  line-height: 1.3rem;
  column-gap: 20px;
}

.flexGroup {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.flexEqualSpace {
  flex-grow: 1;
  flex-basis: 0;
}

.actionButton {
  background: linear-gradient(180deg, #EF507E 0%, #F09633 100%);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  border-radius: 0;
  padding: 16px 59px;
}

.fillImage {
  width: 100%;
  height: 100%;
}

.rectangle {
  height: 360px;
  width: 1300px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}