:root {
  --primary: #6932f9;
  --primary-dark: #160c30;
  --swiper-theme-color: #6932f9 !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  /* line-height:1.6; */
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none !important;
}

#userSearchInput::placeholder {
  font-weight: 400 !important;
  font-family: "Inter", sans-serif !important;
}

.ql-container.ql-snow{
  border: 0px !important;
}

.ql-toolbar.ql-snow {
  border: 0px !important;
  border-bottom: 1px solid #cccc !important;
}