:root {
  --primary: #6932f9;
  --primary-dark: #160c30;
  --swiper-theme-color: #6932f9 !important;
}


   
.brackets-viewer {
  /* Colors */
  --primary-background: #101213;
  --secondary-background: #1c2835;
  --match-background: rgb(26, 16, 48);
  --font-color: #d9d9d9;
  --win-color: #50b649;
  --loss-color: #e61a1a;
  --label-color: grey;
  --hint-color: #a7a7a7;
  --connector-color: #404b57;
  --border-color: var(--primary-background);
  --border-hover-color: #b6b5b5;

  /* Sizes */
  --text-size: 16px;
  --round-margin: 40px;
  --match-width: 180px;
  --match-horizontal-padding: 10px;
  --match-vertical-padding: 15px;
  --connector-border-width: 2px;
  --match-border-width: 2px;
  --match-border-radius: 0.5em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  /* line-height:1.6; */

  font-family: 'Chakra Petch';
}

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: rgba(255,255,255,0.1);
}

html::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(0,0,0,0.3);
}

html::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,0.3);
}

div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: rgba(255,255,255,0.1);
}

div::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(0,0,0,0.3);
}

div::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,0.3);
}

.hide-scrollbar::-webkit-scrollbar-track
{
	display: none;
}

.hide-scrollbar::-webkit-scrollbar
{
	display: none;
}

.hide-scrollbar::-webkit-scrollbar-thumb
{
	display: none;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none !important;
}

#userSearchInput::placeholder {
  font-weight: 400 !important;
  font-family: "Inter", sans-serif !important;
}

.ql-container.ql-snow {
  border: 0px !important;
}

.ql-toolbar.ql-snow {
  border: 0px !important;
  border-bottom: 1px solid #cccc !important;
}
.bracket .brackets-viewer {
  background-color: transparent;
}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.brackets-viewer::-webkit-scrollbar {
  display: none;
} */

/* .slick-slide {
  margin: 0 27px!important;
}

.slick-list {
  margin: 0 -27px!important;
} */

@media screen and (min-width: 700px) {
  .slick-list {margin: 0 -5px!important;}
.slick-slide>div {padding: 0 5px!important;}
.slick-track{ margin-left: 0!important; }
}

