.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #160C30;
    row-gap: 24px;
  }

.mainBannerText {
    font-family: Chakra Petch;
    font-size: 2.6rem;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.011em;
    /* text-align: center; */
    align-self: center;
    color: white;
  }

  .heroContainer {
    position: relative;
    margin-top: -20px !important;
    height: 500px !important;
    /* background: url('/images/partner-with-us.png'); */
    background-repeat: no-repeat !important;
    background-clip: border-box !important;
    background-size: cover !important;
    background-origin: border-box !important;
}

.heading {
    position: absolute;
    bottom: 30px;
    left: 70px;
    width: 40%;
}