.NewsletterContainer {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg, #0D17AD 0%, #09128C 48.77%, #000772 100%);
}

.innerContainer {
 position: absolute;
 width: 90% !important;
 z-index: 1;
 align-items: center;
 display: flex;
 align-self: center;
 justify-content: space-between;
 flex-direction: column;
 width: -webkit-fill-available;
 height: -webkit-fill-available;
 justify-content: space-evenly !important;

}

.emailInputContainer {
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5px;
    width: 90%;
    background: #0C16A7;
    border: 1px solid rgba(255, 255, 255, 0.53);
    box-sizing: border-box;
}

.textField {
    flex: 1;
}

.inputStyle {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 100%;
    padding: 0 10px !important;
}

.inputStyle::placeholder {
    text-align: center;
    align-self: center;
}

.actionButton {
    background: linear-gradient(180deg, #EF507E 0%, #F09633 100%);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    border-radius: 0;
}