.footerContainer {
    flex-grow: 1;
    padding: 30px;
    background-color: #0f0526;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headingBorder {
    width: 400px;
    background-color: #3a324d;
    height: 1px;
    margin-bottom: 15px;
    border-radius: 50%;
}
.customeDivider {
    width: 1.8px;
    background: white;
    margin: 0 20px;
    height: 20px;
}
