.background {
    /* background-image: linear-gradient(45deg, 
     white, #08001C,), url('https://imagekit.io/blog/content/images/2019/12/image-optimization.jpg') !important; */
    background-image: linear-gradient(180deg, rgba(64, 64, 64, 0.3), rgba(8, 0, 28, 1)), url("");
    padding: 40px 26px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.otherProfileCard {
    /* background-color: #08001C; */
    /* padding: 66px 26px; */
    border-radius: 15px;
    color: white;
}
.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectImg {
    position: absolute;
    bottom: 18px;
    right: -7px;
    background-color: blue;
}
.verticalDivider {
    width: 0.5px;
    height: 38px;
    background-color: rgba(255, 255, 255, 0.1);
}
.bottom {
    padding: 0 26px !important;
    padding-bottom: 30px !important;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.btnSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.bottomBtn {
    text-transform: capitalize;
    width: 216px;
    padding: 8px 0;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
}
