.sidebarContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 32px 30px;
	height: 808px;
	background: #100626;
	width: 350px;
	border: 1px solid rgba(255, 255, 255, 0.1)
}

.containerDesktop {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.containerMobile {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	justify-content: space-around;
}

.button {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: -0.011em;
	color: #FFFFFF;
	justify-content: flex-start
}

.text {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: -0.011em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 8px;
}

.border {
	width: 280px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	margin: 20px 0px 20px 8px;
}

.searchBar {
  border-radius: 6px;
  padding: 5px 12px;
  background: #160C30;
	height: 56px;
	margin-right: 16px;
	display: flex;
  align-items: center;
  align-self: center;
}

.searchBar input::placeholder{
	color: #615C6F;
	font-size: 16px;
}

.inputRow {
  display: flex;
	margin: 8px;
  flex-direction: column;
}

.mainAccordion {
	background: #100626;
	width: 343px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.accordionDetail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 16px;
}