.imageBackgroundContainer {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  position: relative;
  display: flex;
}

.editBackgroundButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.userProfilePic {
  display: flex;
  justify-content: center;
  position: relative;
  top: 80px;
  z-index: 50;
}

.editAvatarButton {
  position: absolute;
  bottom: 20px;
  z-index: 100;
  right: -8px;
}

.userDetailsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-grow: 1;
  padding-bottom: 30px;
  background-color: #08001c;
}

.userDetailsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 16px;
  margin-right: 16px;
}

.userDetailKey {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.userDetailValue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.heading {
  font-weight: bold;
}

.background {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
}
.otherProfileCard {
  border-radius: 15px;
  color: white;
}
.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectImg {
  position: absolute;
  bottom: 18px;
  right: -7px;
  background-color: blue;
}
.verticalDivider {
  width: 0.5px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.1);
}
.bottom {
  padding: 0 26px !important;
  padding-bottom: 30px !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.btnSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.bottomBtn {
  text-transform: capitalize;
  width: 216px;
  padding: 8px 0;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
}
.optionsContainer {
  position: absolute;
  width: 153px;
  right: 12px;
  margin-top: 4px;
  padding: 0;
  box-shadow: 24;
  border-radius: 16px !important;
  background-color: #dedede;
  z-index: 4;
}
.optionsBtn img {
  margin-right: 10px;
}
.optionsBtn {
  font-weight: 500;
  text-transform: capitalize !important;
  padding: 8px 10px;
  background-color: white !important;
}
@media screen and (max-width: 992px) {
  .detailsContainer div {
    justify-content: space-between;
  }
  .divider {
    margin-top: 20px;
    color: "rgba(255, 255, 255, 0.1)";
  }
}
